<div id="<%= dom_id contact %>">
  <p>
    <strong>First name:</strong>
    <%= contact.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= contact.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= contact.company_name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= contact.comment %>
  </p>

  <p>
    <strong>Is broker:</strong>
    <%= contact.is_broker %>
  </p>

</div>
